.button {
    font-size: 30px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-style: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.button:hover {
    color: rgb(102 153 247);
}

.fbutton:active {
    color: rgb(61, 117, 221);
}