html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-size: 1110px;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Oswald', sans-serif;
}